# Sample config file for Transformation.py
# Comment lines starting with # are ignored
# Do not add extra spaces!
#
# author: ved.shenoy
#
[constants]
#
# Motion of the Sun with respect to the Galactic Centre in km/s
U_sun : 11.1
V_sun : 245.8
W_sun : 7.8
#
# Radial Distance of Sun from Galactic Centre in kpc
R0 : 8.122
#
# Equatorial Coordinates of the North Galactic Pole in decimal degrees
ra_G : 192.85948
dec_G : 27.12825
#
# Distance of Sun from Galactic Mid-plane in pc
z_sun : 25

